<div>
	<form class="col s12 m12 offset-l2 l10 marginTop2" name="miForm">
		<fieldset>
	    <legend>Nueva cita</legend>
			<div class="input-field col s12">
				<div class="input-field col s6">
			    	Hora Inicio<input type="text" id="dateTimeI" ng-model="app.horaI" disabled>
				</div>
				<div class="input-field col s6">
					Hora Fin<input type="text" id="dateTimeF" ng-model="app.horaF" disabled>
				</div>
				<div class="p5">
					<form>
				      <div class="input-field">
						
						<input ng-model="q" ng-change="change()" id="search" type="search" placeholder="Filtra por: Nombre, apellido o DNI" autocomplete="off">
				        <label class="label-icon" for="search"></label>
				      </div> 
					</form>	
					<div ng-if="hide" ng-show="!app.customerId" >
						<ul class="collection">
							<li class="collection-item avatar" ng-repeat="c in customerList | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy: 'firstName'">
								<div ng-click="pets(c)">
								<p>{{c.firstName}} {{c.lastName}} | {{c.dni}}</p>
								</div>
							</li>
						</ul>
					</div>
					<div ng-show="petsList!=null">
						<select class="browser-default" ng-model="app.petId" ng-options="p._id as p.name for p in petsList">
							<option value="">Selecciona la mascota</option>
						</select>
					</div>	
					<br>
					<textarea id="note" class="materialize-textarea" ng-model="app.note"></textarea>
	         		
				</div>
			</div> 
			<div class="input-field col s12 center-align">
				<button data-ng-click="crear(miForm)" class="btn btn-default left">Crear cita</button>
				<button ng-click="volver()" class="btn btn-default grey right">Volver</button>
			</div>
		</fieldset>
	</form>
</div>


<style>
.p5{ padding-left: 5%; padding-right: 5%; }
</style>