<div>
	<form name="miForm">
	  chipNumber:<br>
	  <input type="text" ng-model="chipNumber" name="chipNumber"><br>
	  name:<br>
	  <input type="text" ng-model="name" name="name"><br>
	  birthDate:<br>
	  <input type="text" ng-model="birthDate" name="birthDate"><br>
	  species:<br>
	  <input type="text" ng-model="species" name="species"><br>
	  race:<br>
	  <input type="text" ng-model="race" name="race"><br>
	  description:<br>
	  <input type="text" ng-model="description" name="description"><br>
	  <br>
	  
	  <input type="hidden" type="text" ng-model="customerId">
	   
	   
	   <button data-ng-click="submit(miForm)" class="btn btn-default">Guardar</button>
       <button data-ng-click="submit(miForm)" class="btn btn-default">Eliminar</button>



	</form>
	
</div>