<div>
	<form class="col s12 m6 l6 marginTop2" name="miForm">
	 	<fieldset>
	    <legend>Datos de la mascota</legend>
		<div class="input-field col s6">
			<input type="text" id="name" class="validate" ng-model="name">
			<label class="active" for="name">Nombre</label>
		</div>
		<div class="input-field col s6">
			<input type="text" id="birthDate" class="datepicker" ng-model="birthDate">
			<label class="active" for="birthDate" >Cumpleaños</label>
		</div> 
		<div class="input-field col s12">
			<input type="text" id="chipNumber" class="validate" ng-model="chipNumber">
			<label class="active" for="chipNumber">Número de Chip</label>
		</div>
		<div class="input-field col s6">
			<input type="text" id="species" class="validate" ng-model="species">
			<label class="active" for="species">Especie</label>
		</div>
		<div class="input-field col s6">
			<input type="text" id="race" class="validate" ng-model="race">
			<label class="active" for="race">Raza</label>
		</div>
		<div class="input-field col s12">
			<textarea id="description" class="materialize-textarea" ng-model="description"></textarea>
         	<label for="description" class='active'>Descripción</label>
		</div> 
		<button data-ng-click="submit(miForm)" class="btn btn-default">Guardar</button>
        <button data-ng-click="delete(miForm)" class="btn btn-default red lighten-1 right">Eliminar</button>
		</fieldset>
	</form>
	<div class="col s12 m6 l6 marginTop2">
		<fieldset class="center">
		<legend>Foto</legend>
			<div>
				<img ng-src="img/{{photoURL}}" class="circle"/>
			</div>
			<div class="file-field input-field col s12">
		      <div class="btn right">
		        <span>Subir foto</span>
		        <input type="file">
		      </div>
		      <!--  <div class="file-path-wrapper">
		        <input class="file-path validate" type="text" ng-model="photoURl">
		      </div>-->
		    </div> 
		</fieldset>
	</div>
</div>
<script src="/app/js/fechas.js"></script>