<div>
	<form class="col s12 m6 l6 marginTop2" name="miForm">
	 	<fieldset>
	    <legend>Datos de la mascota</legend>
			<label-input-form-group data-n="s6" data-model="pet.name" data-id="name" data-label="Nombre"/> 
			<date-picker data-n="s6" data-model="pet.birthDate" data-id="birthDate" data-label="Cumpleaños"/>
			<label-input-form-group data-n="s12" data-model="pet.chipNumber" data-id="chipNumber" data-label="Número de Chip"/>
			<label-input-form-group data-n="s6" data-model="pet.species" data-id="species" data-label="Especie" />
			<label-input-form-group data-n="s6" data-model="pet.race" data-id="race" data-label="Raza"/>
			<div class="input-field col s12">
				<textarea id="description" class="materialize-textarea" ng-model="pet.description"></textarea>
	         	<label for="description" class='active'>Descripcion</label>
			</div> 
			<button data-ng-click="submit(miForm)" class="btn btn-default">Guardar</button>
	        <button data-ng-click="delete(miForm)" class="btn btn-default red lighten-1 right">Eliminar</button>
		</fieldset>
	</form>
	<div class="col s12 m6 l6 marginTop2">
		<fieldset class="center">
		<legend>Foto</legend>
			<div>
				<img ng-src="img/{{pet.photoURL}}" class="circle"/>
			</div>
			<!--<div class="file-field input-field col s12">
		      <div class="btn right">
		        <span>Subir foto</span>
		        <input type="file">
		      </div>
		       <div class="file-path-wrapper">
		        <input class="file-path validate" type="text" ng-model="photoURl">
		      </div>
		    </div> -->
		</fieldset>
	</div>
</div>