<div>
<!-- Datos de la cita -->
	<form class="col s12 m12 l12 marginTop2" name="miForm">
		<fieldset>
	    <legend>Detalle de la cita</legend>
			<div class="input-field col s6">
				<div class="input-field col s6">
			    	Hora Inicio<input type="text" id="dateTimeI" ng-model="horaI" disabled>
				</div>
				<div class="input-field col s6">
					Hora Fin<input type="text" id="dateTimeF" ng-model="horaF" disabled>
				</div>
		 		<div class="input-field col s12">
					<textarea id="note" class="materialize-textarea" ng-model="note" disabled></textarea>
	         		<label for="note" class='active'>Nota:</label>
				</div> 
			</div> 
			<div class="input-field col s6 center-align">
				<img id="photoURL" ng-src="img/{{pet.photoURL}}" class="circle"/>
			</div> 
			<div class="input-field col s12 center-align">
				<button data-ng-click="guardar(miForm)" class="btn btn-default left">Guardar cambios</button>
				<button data-ng-click="atender(miForm)" class="btn btn-large blue">Atender</button>
				<button data-ng-click="cancelar(miForm)" class="btn btn-default red lighten-1 right">Cancelar cita</button>
			</div>
		</fieldset>
	</form>
<!-- Datos de la mascota -->
	<div>
		<form class="col s12 m6 l6 marginTop2" name="miForm">
		 	<fieldset>
			    <legend>Datos de la mascota</legend>
				<label-input-form-group data-n="s6" data-model="pet.name" data-id="name" data-label="Nombre" data-disabled="true"/> 
				<date-picker data-n="s6" data-model="pet.birthDate" data-id="birthDate" data-label="Cumpleaños" data-disabled="true"/>
				<label-input-form-group data-n="s12" data-model="pet.chipNumber" data-id="chipNumber" data-label="Número de Chip" data-disabled="true"/>
				<label-input-form-group data-n="s6" data-model="pet.species" data-id="species" data-label="Especie" data-disabled="true"/>
				<label-input-form-group data-n="s6" data-model="pet.race" data-id="race" data-label="Raza" data-disabled="true"/>
				<div class="input-field col s12">
					<textarea disabled id="description" class="materialize-textarea" ng-model="pet.description"></textarea>
				</div>
			</fieldset>
		</form>
	</div>
	<div>
		<form class="col s12 m6 l6 marginTop2" name="miForm">
		 	<fieldset>
		    <legend>Datos del cliente</legend>
			<label-input-form-group data-n="s3" data-model="pet.customerId.firstName" data-id="firstName" data-label="Nombre" data-disabled="true"/> 
			<label-input-form-group data-n="s6" data-model="pet.customerId.lastName" data-id="lastName" data-label="Apellidos" data-disabled="true"/> 
			<label-input-form-group data-n="s3" data-model="pet.customerId.dni" data-id="dni" data-label="DNI" data-disabled="true"/> 
			<label-input-form-group data-n="s5" data-model="pet.customerId.phoneNumber" data-id="phoneNumber" data-label="Teléfono" data-disabled="true"/> 
			<label-input-form-group data-n="s7" data-model="pet.customerId.email" data-id="email" data-label="E-mail" data-disabled="true"/> 
			<div class="input-field col s12">
				<textarea disabled id="note" class="materialize-textarea" ng-model="pet.customerId.note"></textarea>
			</div> 
			</fieldset>
		</form>
	</div>
</div>

<style>
#photoURL{max-height: 200px;}
</style>