<div>
	<form name="miForm">
	  Nombre:<br>
	  <input type="text" ng-model="firstName" name="firstName"><br>
	  Apellidos:<br>
	  <input type="text" ng-model="lastName" name="lastName"><br>
	  DNI:<br>
	  <input type="text" ng-model="dni" name="dni"><br>
	  E-mail:<br>
	  <input type="text" ng-model="email" name="email"><br>
	  Teléfono:<br>
	  <input type="text" ng-model="phoneNumber" name="phoneNumber"><br>
	  Notas:<br>
	  <input type="text" ng-model="note" name="note"><br>
	  <br>
	  
	  
	   <button data-ng-click="submit(miForm)" class="btn btn-default">Submit</button>
	  
	  
	 
	</form>
	
	
	  <br>
	  <hr>
	  
	  <p>Mascotas: </p>
	  <br>
	  <ul>
        <li ng-repeat="p in petsList | orderBy: 'name'" > 
           <a ng-href="pets/{{p._id}}">  <p>{{p.name}}</p></a>
        </li>
    </ul>
</div>