<div>
	<form class="col s12 m12 l12 marginTop2" name="miForm">
		<fieldset>
	    <legend>Nueva cita</legend>
			
			<div class="input-field col s12">
				<div class="input-field col s6">
			    	Hora Inicio<input type="text" id="dateTimeI" ng-model="app.horaI" disabled>
				</div>
				<div class="input-field col s6">
					Hora Fin<input type="text" id="dateTimeF" ng-model="app.horaF" disabled>
				</div>
			
			<div class="input-field col s6">
			<fieldset>
	  		<legend>Seleccionar cliente</legend>
				<form>
			      <div class="input-field">
			         <input ng-model="q" ng-change="change()" id="search" type="search" placeholder="Filtra por: Nombre, apellido o DNI">
			         <label class="label-icon" for="search"><i class="material-icons">search</i></label><i class="material-icons">close</i>
			      </div>
			 	</form>
			 <ul ng-if="hide" class="collection">
				<li class="collection-item avatar" ng-repeat="c in customerList | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy: 'firstName'">
					<div ng-click="pets(c._id)">
					<p>{{c.firstName}} {{c.lastName}} | {{c.dni}}</p>
					</div>
				</li>
			  </ul>	
			</fieldset>
	
			</div>
			
		<div class="input-field col s6">
			<fieldset>
	  		<legend>Seleccionar mascota</legend>
				<ul class="collection">
					<li class="collection-item avatar" ng-repeat="p in petsList | orderBy: 'name'">
						<div ng-click="petsOnClick(p._id)">
							<i class="material-icons circle">pets</i><img src="img/{{p.photoURL}}" class="circle"/><p>{{p.name}}</p><spam class="secondary-content"><i class="material-icons">fullscreen</i></spam>
						</div>
					</li>
			  	</ul>
			</fieldset>
			</div>
			
				<div class="input-field col s12">
					<textarea id="note" class="materialize-textarea" ng-model="app.note"></textarea>
	         		<label for="note" class='active'>Nota:</label>
				</div> 
			</div> 
			
			<div class="input-field col s12 center-align">
				<button data-ng-click="crear(miForm)" class="btn btn-default left">Crear cita</button>
				<button ng-click="volver()" class="btn btn-default grey right">Volver</button>
			</div>
		</fieldset>
	</form>
</div>

<style>

</style>