<div>


	<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
	
	

    <ul>
        <li ng-repeat="c in customerList | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy: 'firstName'" > 
           <a ng-href="customers/{{c._id}}">  <p>Nombre: {{c.firstName}} {{c.lastName}}</p></a>
        </li>
    </ul>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
    <br>
    <hr>
     <button>
        <a ng-href="customers/new">  <p>Añadir nuevo cliente</p></a>
    </button>
</div>
	
	
	
	
